/* =-=-=-= CONFIGS PRINCIPAIS =-=-=-= */
:root {
    --dark-gray: #2e2d2d;
    --dark-gray-hover: #181717;
    --main-blue: #083D77;
    --main-orange: #F18F01;
    --second-orange: #F9AF0B;
    --main-yellow: #FFF05A;
    --second-yellow: rgb(252, 207, 50);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', 'sans-serif';
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, a, li {
    color: white;
}

.skip-nav {
    margin-top: 8rem;
    width: 100%;
}

body.is-active {
    overflow-y: hidden;
}


/* =-=-=-= Informação extra =-=-=-=-= */
.extra-information {
    width: 100%;
    background-color: #89C5FD;
    text-align: center;
    border-bottom: 3px solid #369BF9;
    padding: 15px 20px;
}
.extra-information > p {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 15px;
}
.extra-information > button {
    display: inline-block;
    height: 38px;
    margin-left: 20px;
    text-align: center;
    background-color: var(--dark-gray);
    border: 0;
    border-radius: 9px;
    padding: 1px 10px;
    box-sizing: content-box;
    cursor: pointer;
    outline: 0;
    transition: 300ms;
}
.extra-information > button:hover {
    background-color: var(--dark-gray-hover);
}
.extra-information > button > p {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
}
.extra-information > i {
    cursor: pointer;
    position: absolute;
    right: 4rem;
    top: 2.2rem;
}
/* =-=-=-= FECHADO Informação extra =-=-=-=-= */

/* =-=-=-= Header =-=-=-=-= */
header.main-header {
    width: 100%;
}

/* header .nav-mobile {
    display: none;
} */
header {
    display: block;
}

header.main-header ul {
    display: flex;
    margin-bottom: 0;
}
header.main-header ul a {
    color: white;
    font-weight: 300;
    font-size: 0.94rem;
    transition: 200ms;
    cursor: pointer;
    text-decoration: none;
}
header.main-header ul a:hover {
    color: #fdcc82;
}
header.main-header > div.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header.main-header ul li:not(:last-child) > a {
    margin-right: 5vw;
}
header.main-header .nav-page-selected > a {
    color: var(--main-orange);
}
header.main-header img {
    width: 160px;
}
header.main-header .nav-wrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 15px;
    align-items: center;
}

/* =-=-=-=-= HEADER MOBILE =-=-=-=-= */
.hamburger {
    position: relative;
    display: none;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none !important;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--main-blue);
    padding: 25px;
    transition: left 400ms ease-in-out;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.mobile-nav .nav-wrapper img {
    width: 160px;
}

.mobile-nav .navbar-ul {
    margin-top: 15vh;
    text-align: center;
    line-height: 4;
}

.mobile-nav .navbar-ul li.nav-page-selected a {
    color: var(--main-orange);
}

.mobile-nav .nav-contact {
    margin-top: 7vh;
}

.mobile-nav .nav-contact .icon-contact {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.mobile-nav .nav-contact .icon-contact i {
    font-size: 2.5rem;
    color: var(--main-orange);
}

.mobile-nav .nav-contact .text-contact {
    text-align: center;
    margin-top: 4vh;
}

.mobile-nav .nav-contact .text-contact p {
    margin: 0;
}

.mobile-nav .nav-contact .text-contact p > i {
    margin-right: 5px;
}

/* =-=-=-=-= FECHADO HEADER MOBILE =-=-=-=-= */

/* =-=-=-=-= FECHADO Header =-=-=-=-=-= */


/* FOOTER */
footer {
    margin-top: 70px;
}

footer .payment-methods {
    margin: 0;
    height: 100px;
    background-color: var(--main-orange);
}
footer .information {
    text-align: center;
    margin: 0;
    height: 50px;
    background-color: var(--main-blue);
    flex-direction: column;
    display: flex;
    justify-content: center;
}
footer .information p {
    margin: 0;
    color: white;
    font-size: 0.8rem;
}
/* fechado FOOTER */




/* MEDIA QUERIES */
@media (max-width: 899px) {
    .extra-information > i {
        display: none;
    }
}

@media (max-width: 500px) {
    /* =-=-=-= Informação extra =-=-=-=-= */
    .extra-information {
        padding: 20px;
    }
    .extra-information > p {
        margin: 0;
        font-size: 0.9em;
    }
    .extra-information > button {
        display: inline-block;
        height: 38px;
        margin-left: 0;
        margin-top: 10px;
        padding: 1px 35px;
    }
    .extra-information > i {
        display: none;
    }
    /* =-=-=-= FECHADO Informação extra =-=-=-=-= */

    /* =-=-=-= Header =-=-=-=-= */
    header .nav-wrapper > ul {
        display: none !important;
    }
    .hamburger {
        display: block;
    }

    header.main-header ul {
        display: flex;
        margin-bottom: 0;
    }
    header.main-header ul a {
        color: white;
        font-weight: 300;
        font-size: 0.94rem;
        transition: 200ms;
        cursor: pointer;
        text-decoration: none;
    }
    header.main-header ul a:hover {
        color: #fdcc82;
    }
    header.main-header > div.container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* =-=-=-=-= FECHADO Header =-=-=-=-=-= */
}